<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>aa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>bach-everything.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>bach.adj.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>bach.append.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>bach.args.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>bach.arithmser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>bach.bachtree2omtree.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>bach.beatbox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>bach.beatunbox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>bach.cartesianprod.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>bach.circle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>bach.collect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>bach.comb.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>bach.constraints.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>bach.contains.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>bach.decode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>bach.defer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>bach.deferlow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>bach.delace.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>bach.depth.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>bach.derive.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>bach.diag.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>bach.dict2llll.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>bach.diff.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>bach.edit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>bach.eig.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>bach.embed.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>bach.encode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>bach.eq.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>bach.expr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>bach.extractbasis.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>bach.factorize.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>bach.fft.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>bach.find.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>bach.flat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>bach.float2rat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>bach.gausselim.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>bach.geomser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>bach.geq.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>bach.graph.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>bach.group.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>bach.gt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>bach.hypercomment.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>bach.insert.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>bach.integrate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>bach.intersection.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>bach.is.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>bach.iter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>bach.ivec.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>bach.keys.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>bach.lace.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>bach.length.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>bach.leq.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>bach.life.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>bach.linearsolve.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>bach.llll2dict.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>62</integer>
		</dict>
		<key>bach.lt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>63</integer>
		</dict>
		<key>bach.mapelem.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>bach.mc2n.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>bach.mdelace.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>66</integer>
		</dict>
		<key>bach.minfo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>67</integer>
		</dict>
		<key>bach.minmax.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>68</integer>
		</dict>
		<key>bach.msort.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>69</integer>
		</dict>
		<key>bach.mtimes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>70</integer>
		</dict>
		<key>bach.n2mc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>71</integer>
		</dict>
		<key>bach.neq.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>72</integer>
		</dict>
		<key>bach.neuralnet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>73</integer>
		</dict>
		<key>bach.nth.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>74</integer>
		</dict>
		<key>bach.omtree2bachtree.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>75</integer>
		</dict>
		<key>bach.oneperm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>76</integer>
		</dict>
		<key>bach.pack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>77</integer>
		</dict>
		<key>bach.perm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>78</integer>
		</dict>
		<key>bach.pick.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>79</integer>
		</dict>
		<key>bach.pipe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>80</integer>
		</dict>
		<key>bach.portal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>81</integer>
		</dict>
		<key>bach.poset.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>82</integer>
		</dict>
		<key>bach.post.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>83</integer>
		</dict>
		<key>bach.prime.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>84</integer>
		</dict>
		<key>bach.primeform.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>85</integer>
		</dict>
		<key>bach.primeser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>86</integer>
		</dict>
		<key>bach.print.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>87</integer>
		</dict>
		<key>bach.pv.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>88</integer>
		</dict>
		<key>bach.quantize.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>89</integer>
		</dict>
		<key>bach.ratnum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>90</integer>
		</dict>
		<key>bach.read.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>91</integer>
		</dict>
		<key>bach.readsdif.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>92</integer>
		</dict>
		<key>bach.reducefunction.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>93</integer>
		</dict>
		<key>bach.reg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>94</integer>
		</dict>
		<key>bach.reshape.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>95</integer>
		</dict>
		<key>bach.rev.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>96</integer>
		</dict>
		<key>bach.roll.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>97</integer>
		</dict>
		<key>bach.rot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>98</integer>
		</dict>
		<key>bach.score.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>99</integer>
		</dict>
		<key>bach.scramble.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>100</integer>
		</dict>
		<key>bach.shelf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>101</integer>
		</dict>
		<key>bach.slice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>102</integer>
		</dict>
		<key>bach.slot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>103</integer>
		</dict>
		<key>bach.sort.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>104</integer>
		</dict>
		<key>bach.ssort.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>105</integer>
		</dict>
		<key>bach.step.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>106</integer>
		</dict>
		<key>bach.submatrix.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>108</integer>
		</dict>
		<key>bach.subs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>107</integer>
		</dict>
		<key>bach.swap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>109</integer>
		</dict>
		<key>bach.symdiff.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>110</integer>
		</dict>
		<key>bach.thin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>111</integer>
		</dict>
		<key>bach.tonnetz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>112</integer>
		</dict>
		<key>bach.trace.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>113</integer>
		</dict>
		<key>bach.trans.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>114</integer>
		</dict>
		<key>bach.tree.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>115</integer>
		</dict>
		<key>bach.union.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>116</integer>
		</dict>
		<key>bach.value.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>117</integer>
		</dict>
		<key>bach.weights.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>118</integer>
		</dict>
		<key>bach.wordcloud.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>119</integer>
		</dict>
		<key>bach.wrap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>120</integer>
		</dict>
		<key>bach.write.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>121</integer>
		</dict>
		<key>bach.writesdif.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>122</integer>
		</dict>
		<key>bach.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>bach.zsearch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>123</integer>
		</dict>
		<key>dg.linearalgebra.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>dg.misc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>dg.notation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>dg.settheory.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>dg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>lib_bach.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>124</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1E5F43501526109A0085FA87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E5F43E91526150E0085FA87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9108DB2E145D602200C6289F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9108DB46145D605000C6289F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>910AC1DF127EDA460018DFE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>910B177D19920899003F580D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9112233818B0B3E500B6B86A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9112234818B0B3EA00B6B86A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>911289EC17E08EDC008381E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9117D1C71509FC2B000B927F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9118C1F31941D85800BA58AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>911C5D4612314F74001BE494</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>911F8D74123F7D3B00963195</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>911FC5C517AF98B6004E8E49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9129A53A177F1A61006CB62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9129A655177F2431006CB62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>912AB48814FD3D9A0081E2B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>912BC1C31A3728BF00D84A76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91300074125DADB100ABD22C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>913771F71234D7B600D950E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>913772F912351E6000D950E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91401677134DFD2400C1F7D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>914017C5134EF0C500C1F7D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91453FC312CA484000828342</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>914EB1C21250E08800413C39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>914EB1DA1250E0C500413C39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>914EB1F11250E0E300413C39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9151A3F5131EDBAC0019DF19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9153BECE123FF3220042732F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>915BC81B18E1C3C80057DF18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>916291C412C7EDC600FEA25C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>916625A517E0ADDD002BAFD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91688FF1134FA75900805BC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91715D31123FBF280052DC28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91716C4818BC8B4A00283C07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>917579FD12412B680088A421</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>917BD525126F636C00A6DAFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>917BD552126F63E100A6DAFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>917F0A8917E1BC2300814766</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>917F0B2F17E1F53F00814766</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>917FAA67171405050049926A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>918129441611AEA700473F86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9182E8B5145F086A00CDFBA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>918C3BB5124A512D003D216B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>918C3BFC124B3323003D216B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>919B516A13B4BF9B005C7C7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91B0EB5F150BD3770069A206</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91B0ECDC150D20DA0069A206</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91B1BCE018DB23FD0056AD47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91B1BCF118DB24D60056AD47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91B6BB6F18F01DE20093DA53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91BE00461259FD65002763D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91BE00D3125A1032002763D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91BEFF871259DF5D002763D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91BFBF8417E04F46000AC715</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91C0A65412C5232800C31264</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91C1AC82188EB856008FD25B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91C1E7C21A39A71A0001297A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91C9725312722FF6008F76B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91CD57441324EC0A00644710</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91CF656C127896A300C44173</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D18947130EC2C900A2E668</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D189E8130EC3C300A2E668</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D18A83130EC43000A2E668</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D18AA2130EC49F00A2E668</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D18ABF130EC4EC00A2E668</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D18ADC130EC51C00A2E668</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D18AF9130EC55300A2E668</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D18B4E130EE1C200A2E668</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D4528C127ABE2F00935949</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D6FF321A3F8BC400AC1DAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D7C6F81232344700D767D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D7C71A1232385500D767D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D7C74412338FAA00D767D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D7C76F1233926700D767D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D7C7991233934D00D767D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D7C7BD1233955800D767D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D7C7DF1233986600D767D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D7C81012339B4B00D767D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D7C84C12339E1300D767D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D7C86F1233A16600D767D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D7C89B1233A43200D767D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D7C8C11233A72D00D767D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D7C8E81233A9C800D767D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D7C9351233B4FD00D767D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D7C96A1233C57000D767D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D7C9B61233C95A00D767D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D7CA021233CFB300D767D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D7CA371233D2BF00D767D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D7CA691233D7A700D767D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D7CA9C1233DCDB00D767D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D7CAEF1233DDD600D767D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D7CB0F1233DE9000D767D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D7CB2D1233DF4300D767D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D7CB4F1233DFFF00D767D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D7CB801233E10500D767D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D7CBA51233E33C00D767D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D7CBC51233E54D00D767D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91DA7FA4131ADC3E00FCB316</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91DA7FF3131B2FD000FCB316</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91DA8052131B317A00FCB316</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91DA8063131B31C600FCB316</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91DA806B131B31F300FCB316</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91DA808C131B345400FCB316</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91DA80A8131B346000FCB316</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91DA80C4131B347B00FCB316</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91DA80E0131B34CD00FCB316</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91DA8100131B367F00FCB316</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91DA8136131B36CD00FCB316</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91DA814F131B36E500FCB316</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91DA8168131B36F800FCB316</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91DB2E851BBE8BB4003DCC81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91DD1A9612802167008A8088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91E22F3A146425B9005E03F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91E22FCD1464300F005E03F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91E372991236249800EC4752</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91E37306123651A200EC4752</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91E5622C19989CF90091EAFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91E8F4AC1275C6C2007E7A0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91E8F4D51275C8FE007E7A0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91E8F4E81275C984007E7A0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91EED5801237C00C003C05FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91F39FED1432B59600F3234A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91FC6E97148BF84D009FD4E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91FE309018B4BA470024CF0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
