cursor_addpoint		RCDATA	"C:\\Users\\andag\\Documents\\Max 7\\Packages\\bach\\source\\resources\\cursors\\cursor_addpoint.png"
cursor_changecolor	RCDATA	"C:\\Users\\andag\\Documents\\Max 7\\Packages\\bach\\source\\resources\\cursors\\cursor_changecolor.png"
cursor_changedynamics	RCDATA	"C:\\Users\\andag\\Documents\\Max 7\\Packages\\bach\\source\\resources\\cursors\\cursor_changedynamics.png"
cursor_changevelocity	RCDATA	"C:\\Users\\andag\\Documents\\Max 7\\Packages\\bach\\source\\resources\\cursors\\cursor_changevelocity.png"
cursor_curve		RCDATA	"C:\\Users\\andag\\Documents\\Max 7\\Packages\\bach\\source\\resources\\cursors\\cursor_curve.png"
cursor_cut		RCDATA	"C:\\Users\\andag\\Documents\\Max 7\\Packages\\bach\\source\\resources\\cursors\\cursor_cut.png"
cursor_delete		RCDATA	"C:\\Users\\andag\\Documents\\Max 7\\Packages\\bach\\source\\resources\\cursors\\cursor_addpoint.png"
cursor_deletepoint	RCDATA	"C:\\Users\\andag\\Documents\\Max 7\\Packages\\bach\\source\\resources\\cursors\\cursor_delete.png"
cursor_duplicatepoint	RCDATA	"C:\\Users\\andag\\Documents\\Max 7\\Packages\\bach\\source\\resources\\cursors\\cursor_duplicatepoint.png"
cursor_eraser		RCDATA	"C:\\Users\\andag\\Documents\\Max 7\\Packages\\bach\\source\\resources\\cursors\\cursor_eraser.png"
cursor_glue		RCDATA	"C:\\Users\\andag\\Documents\\Max 7\\Packages\\bach\\source\\resources\\cursors\\cursor_glue.png"
cursor_marker_add	RCDATA	"C:\\Users\\andag\\Documents\\Max 7\\Packages\\bach\\source\\resources\\cursors\\cursor_marker_add.png"
cursor_marker_delete	RCDATA	"C:\\Users\\andag\\Documents\\Max 7\\Packages\\bach\\source\\resources\\cursors\\cursor_marker_delete.png"
cursor_note		RCDATA	"C:\\Users\\andag\\Documents\\Max 7\\Packages\\bach\\source\\resources\\cursors\\cursor_note.png"
cursor_note_flat	RCDATA	"C:\\Users\\andag\\Documents\\Max 7\\Packages\\bach\\source\\resources\\cursors\\cursor_note_flat.png"
cursor_note_fourway	RCDATA	"C:\\Users\\andag\\Documents\\Max 7\\Packages\\bach\\source\\resources\\cursors\\cursor_note_fourway.png"
cursor_note_leftright	RCDATA	"C:\\Users\\andag\\Documents\\Max 7\\Packages\\bach\\source\\resources\\cursors\\cursor_note_leftright.png"
cursor_note_sharp	RCDATA	"C:\\Users\\andag\\Documents\\Max 7\\Packages\\bach\\source\\resources\\cursors\\cursor_note_sharp.png"
cursor_note_updown	RCDATA	"C:\\Users\\andag\\Documents\\Max 7\\Packages\\bach\\source\\resources\\cursors\\cursor_note_updown.png"
cursor_pencil		RCDATA	"C:\\Users\\andag\\Documents\\Max 7\\Packages\\bach\\source\\resources\\cursors\\cursor_pencil.png"
cursor_revert		RCDATA	"C:\\Users\\andag\\Documents\\Max 7\\Packages\\bach\\source\\resources\\cursors\\cursor_revert.png"
cursor_rotate		RCDATA	"C:\\Users\\andag\\Documents\\Max 7\\Packages\\bach\\source\\resources\\cursors\\cursor_rotate.png"
cursor_scale		RCDATA	"C:\\Users\\andag\\Documents\\Max 7\\Packages\\bach\\source\\resources\\cursors\\cursor_scale.png"
cursor_switch		RCDATA	"C:\\Users\\andag\\Documents\\Max 7\\Packages\\bach\\source\\resources\\cursors\\cursor_switch.png"
cursor_trim_end		RCDATA	"C:\\Users\\andag\\Documents\\Max 7\\Packages\\bach\\source\\resources\\cursors\\cursor_trim_end.png"
cursor_trim_start	RCDATA	"C:\\Users\\andag\\Documents\\Max 7\\Packages\\bach\\source\\resources\\cursors\\cursor_trim_start.png"


1685			RCDATA	"C:\\Users\\andag\\Documents\\Max 7\\Packages\\bach\\source\\resources\\fonts\\November_for_bach.otf"

icon_chord		RCDATA	"C:\\Users\\andag\\Documents\\Max 7\\Packages\\bach\\source\\resources\\icons\\icon_chord.png"
icon_marker		RCDATA	"C:\\Users\\andag\\Documents\\Max 7\\Packages\\bach\\source\\resources\\icons\\icon_marker.png"
icon_measure		RCDATA	"C:\\Users\\andag\\Documents\\Max 7\\Packages\\bach\\source\\resources\\icons\\icon_measure.png"
icon_mixedselection	RCDATA	"C:\\Users\\andag\\Documents\\Max 7\\Packages\\bach\\source\\resources\\icons\\icon_mixedselection.png"
icon_note		RCDATA	"C:\\Users\\andag\\Documents\\Max 7\\Packages\\bach\\source\\resources\\icons\\icon_note.png"
icon_pitchbreakpoint	RCDATA	"C:\\Users\\andag\\Documents\\Max 7\\Packages\\bach\\source\\resources\\icons\\icon_pitchbreakpoint.png"
icon_slotinfo		RCDATA	"C:\\Users\\andag\\Documents\\Max 7\\Packages\\bach\\source\\resources\\icons\\icon_slotinfo.png"
icon_tempo		RCDATA	"C:\\Users\\andag\\Documents\\Max 7\\Packages\\bach\\source\\resources\\icons\\icon_tempo.png"
icon_voice		RCDATA	"C:\\Users\\andag\\Documents\\Max 7\\Packages\\bach\\source\\resources\\icons\\icon_voice.png"
